<p style="color: green"><%= notice %></p>

<h1>Upcoming Events</h1>

<div id="events">
  <% @events.future.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<h1>Past Events</h1>

<div id="events">
  <% @events.past.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>
<%= link_to "New event", new_event_path %>
