<p style="color: green"><%= notice %></p>
<h1>Event</h1>
<%= render @event %>
<h2>Attendees</h2>
  <% @event.enrollments.each do |attendee| %>
      <li><%= User.find(attendee.attendee_id).email %> </li>
<br>
  <% end %>

<br>
<br>
<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>
  <%= link_to 'Attend', attend_event_path(@event) %>
  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
