<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
    <h1>PrivateEvents</h1>

    <% if user_signed_in? %>
      <%= link_to "Events", events_path %>
      <%= link_to "Sign out", destroy_user_session_path %>
      <%= link_to "New Event", new_event_path %>
      <%= link_to "Profile", user_path(current_user) %>
      <%= link_to current_user.email, edit_user_registration_path %>

    <% else %>
       <%= link_to 'Sign In', new_user_session_path %>
       <%= link_to 'Sign Up', new_user_registration_path %>
            
    <% end %>
  
  
  </header>
  
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
